.wrapper{
display:flex;
flex-direction:column;
gap:18px;
}

.empty{
text-align:center;
padding:60px;
color:#9ca3af;
font-size:18px;
}



@media(max-width:768px){

.teams{
flex-direction:column;
gap:15px;
}

.team{
width:100%;
justify-content:center;
}

.score{
width:100%;
font-size:32px;
}

.header{
flex-direction:column;
align-items:flex-start;
gap:10px;
}

.tabs{
justify-content:center;
}

}